.img-link {
  overflow: hidden;
}

.figure {
  position: relative;
}

.figcaption {
  border-radius: 50%;
  padding: 0 1rem 0 1rem;
  width: 100%;
}

.name-hover {
  display: table;
  width: 150%;
  height: 150%;
  padding-right: 35px;
  padding-bottom: 40px;
}

.lgx-vertical {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #c12029;
  font-size: 14px;
  line-height: 2.4rem;

}

figure figcaption {
  /* position: absolute;
  bottom: 50px;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 20px 35px rgb(0,0,0 /12%);
  transition-duration: .5s;
  opacity: 0.5; */
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 50px;
  padding: 0 2rem 2rem 2rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 20px 35px rgb(0 0 0 / 12%);
  -moz-box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12);
  box-shadow: 0 20px 35px rgb(0 0 0 / 12%);
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0;
}

.team-member figcaption:hover {
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  bottom: 0;
  opacity: 0.85;
}


/* 
@media (max-width: 752px) {
  .img-prop {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 600px) {
  .img-prop {
    width: 250px;
    height: 250px;
  }
} */
