@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import "../../styles/main.scss";

* {
  font-family: "Open Sans", sans-serif;
}

.about-header {
  background-image: url(../../images/what-we-do/workspace-gradient.png);
  background-size: cover;
  background-position:center;
  height: 93vh;
  @include screen-md {
      height: 110vh;
  } 
}

.heading {
  margin-top: 120px;
  float: left;
}

.heading-title {
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: left;
  text-transform: none;
  line-height: 3.5rem;
  font-weight: 900;
  font-size: 39px;
}

.heading-subtitle {
  font-size: 17px;
  line-height: 25.5px;
  font-weight: 400;
  margin-bottom: 2.25rem;
}

.header-img {
  padding-bottom: 2rem;
  max-width: 100%;
  height: auto;
}

.entrepreneurship {
  padding: 0px 50px 50px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.logo {
  max-height: 150px;
}

.accomplishment {
  background-color: rgba(230,231,232,255);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(110%);
  padding-bottom: 3rem;
  margin-bottom: 50px;
}

.accomplishment img {
  height: 190px;
  max-height: 190px;
  max-width: 100%;
}

.accomplishment .heading-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.header-border .heading-title {
  margin-top: 1rem;
  display: flex;
  margin: 0 auto 0 auto;
  justify-content: center;
}

.inline-block {
  display: inline-block;
}

.programs {
  padding: 0px 50px 50px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.btnAbsolute {
  position: absolute;
  /* left: 30px; */
  right: 35px;
  white-space: nowrap;
}

.programs .heading-title {
  margin-bottom: 1rem;
  background-color: #fff;
  margin-top: -30px;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px;
}

.programs .heading-subtitle {
  max-width: 50%;
}

.inner {
  padding: 4.2rem 0;
}

.quoteBlock {
  color: #c02129;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: left;
  text-transform: none;
  line-height: 3.5rem;
  font-weight: 600;
  font-size: 30px;
}

.quoteParagraph {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.quoteSignature {
  color: #c02129;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}

.work-header {
  padding-bottom: 8rem;
  padding-top: 6rem;
  background-color: rgba(230,231,232,255);
}

.work-header img {
  max-width: 100%;
}

.services {
  padding: 3rem;
  
}

.services h2 {
  margin-bottom: 1rem;  
}

.services p {
  margin-bottom: 3rem;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.asterisk {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  display: inline-block;
}

@media (min-width: 900px) {
  .header-img {
    width: 100%;
  }
  .involvement .header-img {
    width: 100%;
  }

}

@media (max-width: 1000px) {
  .whatWeDo .heading-title {
    padding: 0px 10px;
  }
}

@media (max-width: 580px) {
  .accomplishment .heading-title {
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .accomplishment img {
    max-height: 500px;
    max-width: 100%;
  }

  .heading-title {
    line-height: 2rem;
    font-size: 29px;
  }

  .accomplishment .heading-title {
    font-size: 39px;
    overflow-wrap: break-word;
    text-transform: uppercase;
    line-height: 2.6rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .btn {
    font-size: 14px;
    line-height: 15px;
    padding: 0.6rem 1.5rem;
  }

  .heading {
    margin-bottom: 3rem;
  }

  .header-img {
    width: 100%;
  }

  .gatsby-image {
    height: 80%;
    max-height: fit-content;
    object-fit: contain;
  }
}
