@use '../../styles/variables.scss' as styles;


* {
    font-family: styles.$heading-font;
}

.box {
    background-color: #f1f1f2;
    border-radius: 15px;
    text-align: center;
    border: none;
    height: 100%;
}


.image-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}


.description-text{
    color: #262626;
    font-size: 14px;
    overflow: hidden;
    height: 100px;
}