.text {
    line-height: 2rem;
    font-size: 1.2rem;
}

.upcomingProgram {
    background-color: #323232;
    min-width: 100vw;
}

.arrow {
    transform: rotate(97deg);
    width: 30%;
    float: right;
}

.awesome {
    background: url(../../images/red-wavy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    min-width: 100vw;
}

.tuition-credit {
    background-color: #323232;
    min-width: 100vw;
}

.questions {
    background: url(../../images/bootcamp/faq-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    min-width: 100vw;
    padding-top: 20px;
    padding-bottom: 40px;
}

.course-outcomes {
    background: url(../../images/intro-to-web-hero-square.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
}

.outcome-list {
    font-size: 1rem;
    line-height: 1.6rem;
    padding-left: inherit;
    text-indent: -1.4rem;
}
