@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

/* Top Section */
.mainHeading {
  background-image: url("../../../images/tech-talent/header-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

/* Heading Section */
.headingTitle {
  font-size: 3.5rem;
  letter-spacing: 3px !important;
  line-height: 4rem;
  font-weight: 800;
  color: white;
  margin-bottom: 2rem;
  margin-top: 28vh;
}

/* Services Section */
.whatWeDo {
  text-align: center;
  position: absolute;
  top: calc(100vh + 75px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
  padding: 3rem 2rem;
}

.spacer {
  height: 120px;
  background-color: #e7e6e9;
}

.servicesHeading {
  font-weight: 700;
  @include font-size(30);
  text-transform: uppercase;
  margin: 2rem 0;
}

.servicesSubheader {
  @include font-size(16);
  line-height: 3.3rem;
  margin-bottom: 2.8rem;
  margin: 0 11rem 2.8rem 11rem;
}

/* Horizontal Button Group */
.horizontalButtonGroup {
  position: absolute;
  top: calc(100vh + 590px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}

.horizontalButton {
  background-color: #939598;
  @include font-size(11);
  color: white;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 0.5rem;

  &:hover {
    background-color: darkgray;
    color: white;
  }
}

.finalSection {
  background-image: url("../../../images/tech-talent/group 168.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.finalHeading {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.finalSubtext {
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.finalButton {
  @include font-size(10);
}
