.images {
    margin-top: 20px; 
    max-width: 150px;
    max-height: 150px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0 !important;
    border-top: 3px solid #eee !important;
}