// -----------------------------------------------------------------------------
@import "./variables.scss";
@import "./mixins.scss";
// -----------------------------------------------------------------------------

.accordion-button {
  @include button-style;
  font-weight: bold; // Specific requirement

  &.collapsed {
    // Use default button styles when collapsed
    @include button-style;
  }

  &:not(.collapsed) {
    // Apply different styles when not collapsed
    @include button-style(
      $bg-color: $brand-grey-light,
      $text-color: $brand-color,
      $hover-bg: #5c5d5f,
      $hover-text: $brand-color
    );
  }
}
