// -----------------------------------------------------------------------------
@import "variables";
@import "mixins";
// -----------------------------------------------------------------------------

.card-body--background-card {
  z-index: 1;
}

.card--equal-width {
  max-width: 350px;
}

.card--square-size {
  width: 114px;
  height: 114px;
  @include screen-xs {
    height: 100px;
    width: 100px;
  }
}

.card__img--overlay {
  color: white;
  &:before {
    content: "";
    position: absolute;
    // width: 100%;
    // height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), #141823);
    background: -o-linear-gradient(bottom, rgba(255, 0, 0, 0), #141823);
    background: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0), #141823);
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #141823);
  }
  // @include screen-xs {
  //   height: 25%;
  //   width: 100%;
  // }
}

.card--gradient-bg {
  position: relative;
  margin: 0;
}

.card__gradient-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), #141823);
  background: -o-linear-gradient(bottom, rgba(255, 0, 0, 0), #141823);
  background: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0), #141823);
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #141823);
}

.card__featured_mosaic {
  .card--gradient-bg,
  .card__img--overlay,
  .card__featured > .card {
    height: 100%;
  }
  .card__featured {
    height: 600px;
    @include screen-md {
      height: 500px;
    }
    @include screen-xs {
      height: 250px;
    }
  }
  .card__secondary {
    .card-img {
      height: 115px;
      width: 115px;
    }
  }
}
