.background--white {
  background-color: white;
}

.background--black {
  background-color: black;
}

.background--grey, .background--gray {
  background-color: $brand-color2;
}

.background--brand {
  background-color: $brand-color;
}