@import "./variables.scss";
@import "mixins/rfs";
@import "mixins/font";
@import "mixins/responsive";
@import "mixins/color";
@import "mixins/helpers";

@mixin button-style(
  $bg-color: $button-bg-color,
  $text-color: $button-text-color,
  $hover-bg: $button-hover-bg-color,
  $hover-text: $button-text-color
) {
  background: $bg-color;
  color: $text-color;
  border: 2px solid $bg-color;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: $heading-font;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition:
    background $button-transition-duration,
    border $button-transition-duration,
    color $button-transition-duration;

  &:hover {
    background: $hover-bg;
    border: 2px solid $hover-bg;
    color: $hover-text;
    cursor: pointer;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    opacity: 0.65;
  }
}
