// -----------------------------------------------------------------------------
@import "variables";
@import "mixins"; 
// -----------------------------------------------------------------------------

.text-normal {
  text-transform: none !important;
}

.text--grey, .text--gray {
  color: $brand-grey-dark;
}

.text--white {
  color: white;
}

.text--black {
  color: black;
}

.text--red {
  color: $brand-color;
}

.link--red:hover {
  color: $brand-color;
}

.link--bright-red:hover {
  color: $brand-red-bright;
}

.text--brand {
  color: $brand-color;
}

.text--italic {
  font-style: italic;
}

.text--huge {
  @include font-size(40)
}

.text--extra-huge {
  @include font-size(55)
}

.text--micro {
  @include font-size(8)
}

.text--aside {
  margin-top: 400px;
  transform: rotate(270deg);
}