
.text-normal {
  text-transform: none !important;
}

.tablet-hide-bg {
  @include screen-md {
    background-image: none
  }
}

.mobile-hide-bg {
  @include screen-xs {
    background-image: none
  }

  @include screen-sm {
    background-image: none
  }
}

.double-border--brand {
  position: relative;
  border-right: 2px $brand-color solid;
    border-left: 2px $brand-color solid;
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 5px;
    right: 5px;
    bottom: 0px;
    border-right: 2px $brand-color solid;
    border-left: 2px $brand-color solid;
  }
}

.parallax {
  background-attachment: fixed;
}

.bg-filter-mute {
  overflow: auto;
  position: relative;
  &:before {
    content: "";
    position: fixed;
    top: -5%;
    right: -5%;
    left: -5%;
    z-index: -1;
    width: 100%;
    height: 100%;

    display: block;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
}
// .bg-filter-mute::before{
//   content: "";
//   background: rgba(147, 147, 147, 0.65)
// }