@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.desktop {
  display: block;
  @include screen-tablet-max {
    display: none;
  }
  @include font-size(8);
  color: white;
  padding: 0%;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 300;

  > a {
    &:hover {
      color: $brand-color;
    }
  }
  > .hover-options {
    display: none;
    flex-direction: column;
    position: absolute;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 1%;
    > a {
      @include font-size(8);
      color: $brand-color2;
      font-weight: 300;
      text-transform: none;
      padding-top: 5%;
      letter-spacing: 1px;
      &:hover {
        color: $brand-color;
        padding-left: 5px;
      }
    }
  }

  &:hover {
    // opacity: 0;
    > .hover-options {
      display: flex;
      height: fit-content;
      animation-name: opacityToOne;
      animation-duration: 1s;
    }
  }
}

.navbar {
  background-color: $brand-color2;
  opacity: 0.9;
  z-index: 999;
  @media (max-width: 768px) {
    --bs-navbar-padding-y: 0rem;
  }
  .sub-navbar {
    padding-top: 2%;
    padding-bottom: 0%;
  }
}

.navbar-contents {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

/* When animate class is added, show and animate contents */
.navbar.animate .navbar-contents {
  opacity: 1;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-duration: 600ms;
  animation-timing-function: ease-in;
}

.navbar > .container {
  -webkit-transform-origin: center;
  transform-origin: center;

  line-height: 1rem;

  > .navbar-collapse > .navbar-nav > .row {
    .dropdown {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      width: 50px;
      > button {
        border: none;
      }
    }

    a {
      font-weight: 300;
      @include font-size(7);
      color: white;
      &:hover {
        color: $brand-color;
      }
    }

    > div {
      div a {
        @include font-size(7);
        &:hover {
          padding: 0px 20px;
          color: $brand-color;
        }
      }

      &:hover > .nav-link {
        color: $brand-color;
      }
      @include screen-tablet-max {
        border-bottom: 1px solid white;
      }
      &.show {
        > a {
          padding-bottom: 0;
        }
      }

      .dropdown-menu.show {
        position: relative;
        left: -300px;
        background-color: transparent;
        border: none;
        padding-top: 0;
        > a {
          color: white;
          padding: 0px 20px;
          @include font-size(7);
          &:hover {
            color: $brand-color;
          }
        }
      }
    }
  }

  > button {
    display: none;
    @include screen-tablet-max {
      display: flex;
    }
    justify-content: center;
    align-items: center;

    color: transparent;
    background-color: transparent;

    padding: 10px;
    border: 1px solid $brand-color;
    border-radius: 2px;
    height: 40px;
    width: 50px;

    &:active {
      background-color: $brand-color;
      border: 1px solid $brand-color;
    }
  }

  .navbar-collapse {
    @include screen-tablet-max {
      border-top: 1px solid white;
    }
  }
}

/*Animation*/

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes opacityToOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-menu {
  min-width: auto !important;
  font-size: 12px;
}

#lang-nav-dropdown {
  width: fit-content;
}

/* Christmas lights */
.lightrope-wrapper {
  position: absolute;
  top: 100%;       // top of lights at bottom of navbar
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: -1;     // make lights low
}

.lightrope {
  display: flex;
  gap: 20px;       // spacing between globes
}

.globe {
  width: 12px;
  height: 28px;
  border-radius: 50%;
  background: red; // default color
  box-shadow: 0 5px 10px red;
}

.globe:nth-child(2n + 1) {
  background: red;
  box-shadow: 0 5px 10px red;
}

.globe:nth-child(2n) {
  background: white;
  box-shadow: 0 5px 10px white;
}

@keyframes flash {
  0%   { opacity: 1; transform: scale(1); }
  50%  { opacity: 0.4; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}
