@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.desktop {
  display: block;
  @include screen-tablet-max {
    display: none;
  }
  @include font-size(8);
  color: white;
  padding: 0%;
  white-space: nowrap;
  text-transform: uppercase;
  // letter-spacing: 0px;
  font-weight: 300;

  > a {
    color: white;
    &:hover {
      color: $brand-color;
    }
  }

  > .hover-options {
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 180px;
    padding: 1%;
    > a {
      @include font-size(8);
      color: $brand-grey-dark;
      font-weight: 300;

      padding-top: 5%;
      &:hover {
        color: $brand-color;
        padding-left: 5px;
      }
    }
  }

  &:hover {
    > .hover-options {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }
}

.mobile {
  display: none;
  @include screen-tablet-max {
    display: block;
  }
}

.navbar {
  background-color: $brand-color2;
  opacity: 0.9;
  z-index: 100;
  // position: relative;
}

.navbar > .container {
  > a {
    @include screen-tablet-max {
      margin: 0;
      width: 100%;
      // border-bottom: 1px solid white;
    }
    
  }
  >.navbar-collapse > .navbar-nav > .row > div > .nav-item  {
    color: white;
    &:hover > .nav-link{
      color: $brand-color;
    }
    @include screen-tablet-max {
      border-bottom: 1px solid white;
    }
    &.show {
      > a {
        padding-bottom: 0;
      }
    }

    .dropdown-menu.show {
      background-color: transparent;
      border: none;
      padding-top: 0;
      > a {
        color: white;
        padding: 0px 20px;
        @include font-size(7);
        &:hover {
          color: $brand-color;
        }  
      }
      // color: white;
    }
    
  }

  > button {
    position: absolute;
    right: 20px;
    top: 20px;
    // margin: 20px;
    display: none;
    @include screen-tablet-max {
      display: flex;
    }
    justify-content: center;
    align-items: center;

    color: transparent;
    background-color: transparent;

    padding: 10px;
    border: 1px solid $brand-color;
    border-radius: 2px;
    height: 40px;
    width: 50px;
    
    &:active {
      background-color: $brand-color;
      border: 1px solid $brand-color;
    }

    
  }
  .navbar-collapse {
    @include screen-tablet-max {
      border-top: 1px solid white;
    }
  }
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}