.verticalTitle {
    position: absolute; 
    top: 80%;
    left: 0;
    margin-left: -30px;
    margin-top: 400px;
    color: red;
    font-size: 70;
    letter-spacing: 4px;
    text-transform: none;
    
    transform: rotate(270deg);
    transform-origin: (0 0);
}