.main-heading {
    background-image: url('../../images/5across-hero.png');
    background-size: cover;
    background-position: center;
    height: 93vh;
    
}

.details {
    display: flex;
}

.tonights-judges {
    background-color: #323232;
}
.support-sponsors {
    display: grid;
}