// @import '../../../styles/variables.scss';
@import "../../../styles/variables.scss";

.link {
  color: $brand-color;
  text-decoration: none; /* Remove underline if necessary */
  transition: color 0.3s; /* Add smooth transition effect */

  /* Hover style */
  &:hover {
    color: $brand-color2;
  }
}
