.link{
    color: black;
    text-decoration: none; /* Remove underline if necessary */
    transition: color 0.3s; /* Add smooth transition effect */
  
    /* Hover style */
    &:hover {
      color: red;
    }
}