.box {
  width: auto;
  height: 200px;
}

.box:hover .overlay-text {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.427);
  display: block;
}

.overlay-text {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  overflow-y: scroll;
}
