* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.press-header {
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: auto;
  text-align: center;
}
.press-seen {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  text-align: center;
}
.logos {
  padding-top: 30px;
  padding-bottom: 50px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #b4bcc7;
}

.press-list {
  font-size: 15px;
  text-align: left;
  color: rgba(50, 51, 51, 0.8);
  padding: 0;
  text-align: left;
}
