@import '../../styles/variables.scss';

.header-background-align-right {
  margin-right: 0;
  background-image: url('../../images/oreo-trail.png');
  background-position: right 25%;
  background-size: 42%;
  background-repeat: no-repeat;
}

.tb-div {
  position: relative;
  margin: 10% 5%;
}

.team-button {
  padding-left: 10px !important;
  padding-right: 10px !important;
  position: absolute;
  top: -10%;
  left: 10%;
  width: 80%;
  padding: 0.8rem 2.4rem;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 3px;
  background-color: $brand-color2;
  color: $white-color;
  overflow: hidden;
}