@use 'sass:math';
@import "../../styles/variables.scss";

.header-section {
  background-image: url("../../images/team-alpha-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  @media (max-width: 769px) {
    height: 60vh;
  }
  @media (max-width: 426px) {
    height: 75vh;
  }
}

.team-alpha-badge {
  max-width: 175px;
  position: absolute;
  transform: rotate(-20deg);
  @media (max-width: 2000px) {
    left: 15%;
    top: -20%;
  }
  @media (max-width: 1024px) {
    left: 5%;
    top: -5%;
  }
  @media (max-width: 768px) {
    left: -5%;
    top: 10%;
  }
  @media (max-width: 426px) {
    left: 0%;
    top: -20%;
  }
}

.looking-for-section {
  background-image: url("../../images/wave-main-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 2000px) {
    height: 70vh;
  }
  @media (max-width: 1024px) {
    height: 100vh;
  }
  @media (max-width: 768px) {
    height: 120vh;
  }
  @media (max-width: 426px) {
    height: 150vh;
  }
}
.apply-section {
  background-image: url("../../images/team-alpha-apply.jpg");
  background-repeat: no-repeat;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.tb-div {
  position: relative;
  height: 100%; /* Ensure the container has some height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.billiImage {
  width: 200px;
  position: absolute;
  @media (max-width: 2000px) {
    right: 25%;
    top: -50%;
  }
  @media (max-width: 1440px) {
    right: 10%;
    top: -45%;
  }
  @media (max-width: 1024px) {
    right: 10%;
    top: -40%;
  }
  @media (max-width: 768px) {
    right: 5%;
    top: -50%;
  }
}

.team-button {
  padding-left: 10px !important;
  padding-right: 10px !important;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  padding: 0.8rem 2.4rem;
}

.team-images {
  height: 100%;
  @media (max-width: 768px) {
    width: 40vw;
  }
  @media (max-width: 1024px) {
    width: 21vw;
  }
}

.custom-col-1 {
  @media (min-width: 992px) {
    justify-content: flex-end;
  }
  @media (max-width: 991px) {
    justify-content: center;
  }
}

.custom-col-2 {
  justify-content: center;
}

.custom-col-3 {
  @media (min-width: 992px) {
    justify-content: flex-start;
  }
  @media (max-width: 991px) {
    justify-content: center;
  }
}

.carousel-height {
  @media (min-width: 250px) {
    height: 100vh;
  }
  @media (min-width: 768px) {
    height: 90vh;
  }
  @media (min-width: 1024px) {
    height: 72vh;
  }
  @media (min-width: 1440px) {
    height: 50vh;
  }
}
