@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import '../../styles/variables.scss';
@import '../../styles/mixins';


* {
    font-family: "Open Sans", sans-serif;
}

.box {
    display: flex;
    padding: 3%;
    border-radius: 6px;
    border-color: rgba(119, 119, 119, 0.353);
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    @include screen-xs{
        width: 100%;
        min-height: 170px;
    }
    @include screen-sm{
        width: 100%;
        min-height: 170px;
    }
    @include screen-md{
        width: 100%;
        min-height: 160px;
    }
    @include screen-lg {
        width: 100%;
        min-height: 160px;
    }
    @include screen-max{
        width: 100%;
        min-height: 160px;
    }
}

.box:hover {
    border-color: $brand-color;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.event-image {
    float: left;
    object-fit: contain;
    max-width: 125px;
    transition-duration: 400ms;
}

.box:hover .event-image{
    transition-duration: 400ms;
    transform: scale(1.07);
}

.small-text {
    color: $brand-color2;
    font-size: 13px;
    margin-top: 0.5rem;
}

.bold-text {
    color: $brand-color2;
    font-size: 15px;
    font-weight: 900;
}

.red-text {
  color: $brand-color;
}

.link-hover:hover {
    color: rgb(255, 0, 0);
}

.text-div {
  position: relative;
  overflow: auto;
}

