@media (min-width: 768px) {
    .col-sm-offset-2 {
        margin-left: 17%;
        width: 62%;
    }
    }
    h1 {
        font-size: 60px;
        font-family: sans-serif;
    }
    h2 {
        font-size: 40px;
    }
    .card {
        background-color: #f5f5f5;
        padding: 10px;
    }
    h6 {
        font-size: 15px; 
        font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    }
    .par {
        font-size: 16px;
    }