@import "../../styles/variables";
@import "../../styles/mixins";

.headerlinks {
  background-color: #444444;
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  @include screen-tablet-max {
    height: 200px;
  }
}
.headerlinks::after {
  content: "";
  border-top-right-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: white;
  @include screen-tablet-max {
    border-top-right-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
    height: 60%;
  }
}

.logo {
  position: relative;
  z-index: 2;
  width: 400px;
  height: 350px;
  @include screen-tablet-max {
    max-width: 200px;
    max-height: 200px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
