@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  background-color: #444444;
  width: 100%;
  position: relative; // no more absolute
  min-height: 300px;
  margin-bottom: 150px;

  @include screen-tablet-max {
    min-height: 240px;
  }
}

.header::after {
  content: "";
  border-top-right-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: white;

  @include screen-tablet-max {
    border-top-right-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
    height: 60%;
  }
}

.logo {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 300px;
  height: auto;

  @include screen-tablet-max {
    max-width: 180px;
  }
}
