@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


.header {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/bootcamp-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        @media (min-width: 992px){
            background-position: center;
            background-position: 79% 21%;
            height: 90vh;
            width: 100%;

        }
        @media (min-width: 481px) and (max-width: 991px){
            background-position: 50% 0;
            height: 85vh;
            width: 100%;
            background-size: cover;
            background-color: #323232;
            h1{
                font-size: 1.4rem;
            }
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 0.65rem;
            }

        }

        @media (max-width: 480px){
            background-size: contain;
            background-color: #323232;
            background-position: 50% 0;
            height: 130vh;
            width: 100%;
            h1{
                font-size: 1.4rem;
            }
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 0.5rem;
            }
        }
       

    .headerTitle {
        @media (min-width: 992px) {
            margin-top: 110px;
            max-width: 700px;
        }
    }

   

    .titleBlock {   
        color: white;
        text-align: left;
        @include screen-max{
            margin-top: 30vh;
        }
        @include screen-lg{
            margin-top: 25vh ;
        }
        @include screen-md{
           margin-top: 25vh ;
            
        }
        @include screen-sm{
            title{
                font-size: medium;
            }
        }
        @include screen-xs{
            
        }
        @media (max-width: 1000px) {
            font-size: small;
        }


    .sideNav{
        margin-top: 100px;
    }

    }
}

.bootcampUpcomingdates{
    @media (min-width: 768px){
        border-right: 2px solid #C12029;
    }
}

.twoButtons{
    background-color: #323232;
    .twoButtonsRow {
        padding-top: 50px;
        padding-bottom: 50px;

        .leftButtonCol{
            padding-right: 50px;
            border-right: 1.75px solid white;
            @include screen-sm{
              border-right: none;
              padding-right: none;
            }
        }
    
        .rightButtonCol{
            padding-left: 50px;
            @include screen-sm{
                padding-left:none;
                padding-right: none;
            }
            
        }
}
}



.testimonials {
    background-image: url('../../images/bootcamp/testimonials-bg.jpg');
    background-size: cover;
    
}


.whyAwesomeinc {
    p{
        text-align: justify;
    }
    .leftCol{
        @include screen-max{
            max-width: 410px;
        }
        @include screen-lg{
            
        }
        @include screen-md{
            
        }
        @include screen-sm{
            width: 80vw;
            text-align: justify;
            p{
                font-size: 18px;
            }
        }
        @include screen-xs{
            text-align: justify;
            width: 90vw;
            p{
                font-size: 18px;
            }
        }

    }
    .rightCol{
        @include screen-max{
        }
        @include screen-lg{
            margin-top: 100px;
        }
        @include screen-md{
            margin-top: 100px;
        }
        @include screen-sm{
            margin-top: 50px;
        }
        @include screen-xs{
            align-items: center;
        }
    }
  
}

.whyAwesomeIncBorder {
    border-right: 1.5px solid #C12029; 
    line-height: 25px; 
    padding-right: 2rem;
    @media (max-width: 767px) {
        border: none;
        padding-right: 0;
    }
}


.jobGuarantee {
    background-image: url(../../images/bootcamp/job-bg.jpg);
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 20px;

    .imgRow {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .text-white {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

.carousel{
    .aincuTestimonial{
        display: inline-block;
        padding: 10px;
        box-shadow: rgba(0,0,0,0.23) 0px 1px 20px 0px ;
        border-radius: 4px;
    }
}

.whyAwesomeIncHeader {
    background-image: url('/images/awesome-inc-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
    height: 24vh;
}

.apply{
    .applyCol {
        @include screen-max{
            display: flex;
            margin-left: 0;
            margin-right: 0;
        }
        @include screen-lg{
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        @include screen-sm{
            display: flex;
        }

        @include screen-md{
            flex: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
        }

        @include screen-sm{
            flex: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
       
        @include screen-xs{
            flex: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


        .arrowImg{
            @include screen-md{
                display: none;
            }
            @include screen-sm{
                display: none;
            }
            @include screen-xs{
                display: none;
            }
        }
     
        }
    .applyButtons{
        display: flex;
        @include screen-max{
           flex: none;
            
        
        }
        
    }
}

.stats {
    .statsCol{
        @include screen-max{
            display: flex;
            text-align: center;
        }
        @include screen-lg{
            display: flex;
            text-align: center;
        }
        @include screen-md{
            display: flex;
            text-align: center;
        }

        @include screen-sm{
            flex: none;
            text-align: center;
        }
        @include screen-xs{
            flex: none;
            text-align: center;
        }
    }

    .statsRow{
        @include screen-max{
            margin-left: 80px;
            margin-right: 80px;
        }
        @include screen-lg{
            margin-left: 80px;
            margin-right: 80px;
        }
        @include screen-md{
            margin-left: 50px;
            margin-right: 50px;
        }
        @include screen-sm{
            text-align: center;
        }
        @include screen-xs{
            text-align: center;
        }
    }
}

.languages {
    background-image: url(../../images/bootcamp/languages-bg.jpg);
    background-position: center;
    background-repeat: none;
    background-position: 79% 21%;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    .languageIcons{
        justify-content: center;
    }
    @media (max-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.timeline {
    width: 100vw;
    display: flex;
    @include screen-xs{
        flex: none
    }

    .titleDiv{
        width: 100px;
        @include screen-sm{
            width: 0px;
        }
        @include screen-xs{
            width: 0px;
        }
    }
  
    .timelineTitle {
        margin-top: 440px;
        color: #C12029;
        font-size: 70px;
        letter-spacing: 4px;
        text-transform: none;
        
        transform: rotate(270deg);
        transform-origin: (0 0);

        @include screen-xs {
          position: relative;
          @include font-size(25);
          @include transform(rotate(0));
          top: -500px;
          letter-spacing: 4px;
          flex: none;
          font-size: 25px;
        }

        @include screen-sm {
            position: relative;
            @include font-size(25);
            @include transform(rotate(0));
            top: -500px;
            letter-spacing: 4px;
            flex: none;
          }
    }
}

.cost{
    .costCol{
        
        border-right: solid red;
        @include screen-md{
            border-right: none;
        }
        @include screen-sm{
            border-right: none;
        }
        @include screen-xs{
            border-right: none;
        }
    }
}
.stillUnsure {
    background-image: url(../../images/bootcamp/alumni-bg.png);
    background-size: cover;

}

.questions {
    background-image: url(../../images/bootcamp/faq-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.special-link{
    color: #a21b22;
}

.special-link:hover{
    color: #de3640;
}