@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.header {
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/bootcamp-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        padding-bottom: 5rem;
        @media (min-width: 992px){
            background-position: center;
            background-position: 79% 21%;
            width: 100%;

        }
        @media (min-width: 481px) and (max-width: 991px){
            background-position: 50% 0;
            width: 100%;
            background-size: cover;
            background-color: #323232;
            h1{
                font-size: 1.4rem;
            }
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 0.65rem;
            }

        }

        @media (max-width: 480px){
            background-size: contain;
            background-color: #323232;
            background-position: 50% 0;
            width: 100%;
            h1{
                font-size: 1.4rem;
            }
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 0.5rem;
            }
        }
       

    .headerTitle {
        @media (min-width: 992px) {
            margin-top: 110px;
            max-width: 700px;
        }
    }

   

    .titleBlock {   
        color: white;
        text-align: left;
        @include screen-max{
            margin-top: 30vh;
        }
        @include screen-lg{
            margin-top: 25vh ;
        }
        @include screen-md{
           margin-top: 25vh ;
            
        }
        @include screen-sm{
            title{
                font-size: medium;
            }
        }
        @include screen-xs{
            
        }
        @media (max-width: 1000px) {
            font-size: small;
        }


    .sideNav{
        margin-top: 100px;
    }

    }
}

.rating-container {
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 15px 30px;
  margin-left: 0px;
  opacity: 70%;

  @media (max-width: 1200px){
    padding: 10px 20px;
  }
}
.review-text {
    font-weight: 600;
    font-size: 16px;
}

.header-stats {
    padding: 50px 0px;
    max-width: 80%;
}

.header-stats-title {
    font-size: 56px;
    font-weight: 700;
}

.header-stats-subtitle {
    font-size: 20px;
    font-weight: 600;
}

.bootcampUpcomingdates{
    @media (min-width: 768px){
        border-right: 2px solid #C12029;
    }
}

.twoButtons{
    background-color: #323232;
    .twoButtonsRow {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        .leftButtonCol{
            padding-right: 50px;
            border-right: 1.75px solid white;
            @include screen-xs{
              border-right: none;
              padding-right: 0;
              padding-left: 0;
            }
        }
    
        .rightButtonCol{
            padding-left: 50px;
            @include screen-xs{
                padding-left: 0;
                padding-right: 0;
            }
            
        }
}
}



.testimonials {
    background-image: url('../../images/bootcamp/testimonials-bg.jpg');
    background-size: cover;
    
}


.whyAwesomeIncBorder {
    border-right: 1.5px solid #C12029; 
    line-height: 25px; 
    padding-right: 2rem;
    @media (max-width: 992px) {
        border: none;
        padding-right: 0;
    }
}


.jobGuarantee {
    background-image: url(../../images/bootcamp/job-bg.jpg);
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 20px;

    .imgRow {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .text-white {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

.carousel{
    .aincuTestimonial{
        display: inline-block;
        padding: 10px;
        box-shadow: rgba(0,0,0,0.23) 0px 1px 20px 0px ;
        border-radius: 4px;
    }
}

.whyAwesomeIncHeader {
    background-image: url('/images/awesome-inc-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
    height: 24vh;
}

.apply{
    .applyCol {
        @include screen-max{
            display: flex;
            margin-left: 0;
            margin-right: 0;
        }
        @include screen-lg{
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        @include screen-sm{
            display: flex;
        }

        @include screen-md{
            flex: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
        }

        @include screen-sm{
            flex: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
       
        @include screen-xs{
            flex: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


        .arrowImg{
            @include screen-md{
                display: none;
            }
            @include screen-sm{
                display: none;
            }
            @include screen-xs{
                display: none;
            }
        }
     
        }
    .applyButtons{
        display: flex;
        @include screen-max{
           flex: none;
            
        
        }
        
    }
}

.stats {
    .statsCol{
        @include screen-max{
            display: flex;
            text-align: center;
        }
        @include screen-lg{
            display: flex;
            text-align: center;
        }
        @include screen-md{
            display: flex;
            text-align: center;
        }

        @include screen-sm{
            flex: none;
            text-align: center;
        }
        @include screen-xs{
            flex: none;
            text-align: center;
        }
    }

    .statsRow{
        @include screen-max{
            margin-left: 80px;
            margin-right: 80px;
        }
        @include screen-lg{
            margin-left: 80px;
            margin-right: 80px;
        }
        @include screen-md{
            margin-left: 50px;
            margin-right: 50px;
        }
        @include screen-sm{
            text-align: center;
        }
        @include screen-xs{
            text-align: center;
        }
    }
}

.languages {
    background-image: url(../../images/bootcamp/languages-bg.jpg);
    background-position: center;
    background-repeat: none;
    background-position: 79% 21%;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    .languageIcons{
        justify-content: center;
    }
    @media (max-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.timeline {
    width: 100vw;
    display: flex;
    @include screen-xs{
        flex: none
    }

    .titleDiv{
        width: 100px;
        @include screen-sm{
            width: 0px;
        }
        @include screen-xs{
            width: 0px;
        }
    }
  
    .timelineTitle {
        margin-top: 440px;
        color: #C12029;
        font-size: 70px;
        letter-spacing: 4px;
        text-transform: none;
        
        transform: rotate(270deg);
        transform-origin: (0 0);

        @include screen-xs {
          position: relative;
          @include font-size(25);
          @include transform(rotate(0));
          top: -500px;
          letter-spacing: 4px;
          flex: none;
          font-size: 25px;
        }

        @include screen-sm {
            position: relative;
            @include font-size(25);
            @include transform(rotate(0));
            top: -500px;
            letter-spacing: 4px;
            flex: none;
          }
    }
}

.cost{
    .costCol{
        
        border-right: solid red;
        @include screen-md{
            border-right: none;
        }
        @include screen-sm{
            border-right: none;
        }
        @include screen-xs{
            border-right: none;
        }
    }
}
.stillUnsure {
    background-image: url(../../images/bootcamp/alumni-bg.png);
    background-size: cover;

}

.questions {
    background-image: url(../../images/bootcamp/faq-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.special-link{
    color: #a21b22;
}

.special-link:hover{
    color: #de3640;
}

.gallery {
    height: 600px;
    margin: auto;
    @media (max-width: 768px) {
        height: 40vh;
        margin: -15px;
    }
}

.gallery-photo {
    object-fit: cover;
    height: 100%;
}

.learn-header {
    max-width: 100%;
    @media (min-width: 1024px) {
        max-width: 60%;
    }
    margin: 0px auto;
    margin-top: 40px;
}