.park {
    font-size: 2.5rem;
}

.list {
    font-size: 1rem;
    letter-spacing: .01rem;
    line-height: 1.4rem;
    /* text-indent: -1.4rem; */
}

.button {
    min-width: 75%;
    font-weight: bold;
    filter:opacity(85%);
}
.button:hover {
    filter:none;
    color: white;
}
