// -----------------------------------------------------------------------------
@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
// -----------------------------------------------------------------------------

.custom-card {
  background-color: #fff !important;
}
// Remove arrows on phone number form
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
