@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.profileCard {
  .cardImg {
    @include screen-max {
      width: 120px;
      border-radius: 50%;
      margin-top: 30px;
    }
    @include screen-lg {
      width: 150px;
      border-radius: 50%;
      margin-bottom: 30px;
    }
    @include screen-md {
      width: 150px;
      border-radius: 50%;
      margin-bottom: 30px;
    }
    @include screen-sm {
      width: 150px;
      border-radius: 50%;
    }

    @include screen-xs {
      width: 150px;
      border-radius: 50%;
    }
  }
  .cardContainer {
    @include screen-max {
      width: 360px;
      padding-top: 10px;
      margin-top: -50px;
      // margin-right: 200px;
    }

    @include screen-lg {
      margin-top: -100px;
      padding-top: 10px;
    }

    @include screen-md {
      width: 300px;
      margin-top: -90px;
      padding-top: -50px;
      margin-left: -8px;
    }

    @include screen-sm {
      width: 300px;
      padding-top: 20px;
      margin-top: -80px;
    }

    @include screen-xs {
      width: 300px;
      padding-top: 20px;
      margin-top: -80px;
    }
  }
}
