// -----------------------------------------------------------------------------
@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss"; 
// -----------------------------------------------------------------------------

.navContainer {
    background-color:whitesmoke;
    position: fixed;
    float: right !important;
    margin-top: -50px;
    margin-right: -50px;
    margin-left: 117px;
    z-index: 999;
    max-width: 250px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    nav {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 40px;
    }

    @include screen-md {
        .nav-item .nav-link.text--micro {
            @include font-size(6);
        }
    }
}