// -----------------------------------------------------------------------------
@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";
// -----------------------------------------------------------------------------

.navContainer {
  background-color: whitesmoke;
  position: fixed;
  right: -200px;
  top: 25%;
  margin-top: -6rem;
  z-index: 999;
  max-width: 250px;
  border-radius: 8px;
  transition: right 0.3s ease; /* Smooth transition */

  nav {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  @include screen-md {
    .nav-item .nav-link.text--micro {
      @include font-size(6);
    }
  }
}
.show {
  right: 10px; /* Bring it into view */
}
