@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss"; 

.testimonial {
    // margin-left: 100px;
    // margin-right: 100px;
    @include screen-max{
      display: flex;
    }
    @include screen-lg{
      display: flex;
    }
    @include screen-md{
      display: flex;
    }
    @include screen-sm{
      display: flex;
    }
}

.bootcampGradImages {
    // float: left;
    @include screen-max{
      flex: none;
      // border: solid pink;
    }
    @include screen-lg{
     flex: none;
    //  border: solid white;
    }
    @include screen-md{
      flex: none;
      // border: dashed;
    }
    @include screen-sm{
      flex: none;
      // border: solid blue;

    }
    @include screen-xs{
      display: flex;
      
    }
    
    img {
        width: 100px;
        margin-bottom: 3rem;
        border: 2px rgba(255, 255, 255, 0.8) solid;
        &:last-child {
          margin-bottom: 0;
        }
    }
}

.testimonialWindow {
    background-color: rgba(255, 255, 255, 0.8);
    // width: 500px;
    // height: 700px;
    margin-top: 5px;
    padding-bottom: 60px;
    text-align: justify;
    opacity: 0.9;
    

    width: 80%;
    height: 90%;

    // height: 500px;

    .testimonial-window-text {
        max-width: 75%;
        margin: 3rem 5rem 5rem 5rem;
        margin-bottom: 3rem;
        &.active {
          display: block;
        }
      }
}