@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

#grey-triangle-bg {
    // max-height: 60rem;
    max-width: 100%;
    height: 40rem;
    // min-height: 100%;
    z-index: -1;
    position: absolute;
}

polygon {
    fill: #323232;
}

.triangle-div #grey-triangle-bg {
    width: 100%;
    height: 60rem;
    position: absolute;
}

.triangle-div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: -1;
}

.adult-container {
    z-index: 1;
}

.other-div {
    z-index: 1;
}