@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.profileCard {
  border: none;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  position: relative;
}

.profileName {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto 1rem auto;
}

.profileImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.nameCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nameText {
  text-transform: uppercase;
  font-weight: 300;
  fill: $brand-color;
  @include font-size(60);
}

.lowerCard {
  position: relative;
  bottom: 45px;
  height: 100px;
}

.departmentName {
  @include font-size(22);
  font-weight: 800;
  text-transform: uppercase;
  color: $brand-red-bright;
  margin-bottom: 18px;
}

.portfolioButton {
  @include font-size(10);
}
