@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.profileGridSection {
  padding: 3rem 0;
  margin: 0 20%;
}

.profileGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

/* Special Red Box */
.redBox {
  position: relative;
  bottom: 58px;
  margin: auto;
  height: 300px;
  width: 80%;
  background-color: $brand-color;
  color: white;
  border-radius: 15px;
  padding: 3.2rem 1.7rem;
  text-align: center;
}

.redBoxContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.redBoxText {
  font-size: 1.4rem;
  line-height: 2.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.redBoxSubtext {
  font-size: 1.4rem;
  line-height: 2.3rem;
  opacity: 0.8;
}
