.avatar {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.avatarContainer {
  background-color: #ed3742;
  border-radius: 50%;
  border: 5px solid #ed3742;
  height: 80px;
  width: 80px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(0, -60px);
  @media (max-width: 768px) {
    height: 100px;
    width: 100px;
    transform: translate(0, -70px);
  }
}

.block {
  background-color: #e6e7e8;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
  max-width: 70%;

  @media (max-width: 992px) {
    padding: 10px;
  }
}
