.navContainer {
    background-color:whitesmoke;
    position: fixed;
    float: right !important;
    margin-top: -100px;
    margin-right: -50px;
    margin-left: 117px;
    z-index: 999;
    max-width: 250px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    nav {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 40px;
    }
}