// -----------------------------------------------------------------------------
@import "../../../styles/variables";
@import "../../../styles/mixins"; 
// -----------------------------------------------------------------------------


.sort-button {
    background-color: white !important;
    color: #ED3742 !important;
    
}
.sort-button:hover {
    background-color: #ED3742 !important;
    color: white !important;
    border-color: #ED3742 !important;
  }

.sort-button:visited {
    background-color: red !important;
}
.cell {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    padding: 1%;
    width: 10%;
    font-size: 100%;
    @include screen-xs {
        font-size: 80%;
        
    }
    
}

.title-cell {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #ED3742;
    color: white;
    font-family: Exo;
    font-weight: bold;
    text-transform: uppercase;
}