@import '../../styles/variables.scss';

.image-outline {
  display: inline-block;
  position: relative;

  &:before {
    position: absolute;
    top: -2%;
    left: -1%;
    width: 100%;
    height: 100%;
    border: 1px solid $brand-color;
    content: '';
  }

  &:after {
    position: absolute;
    top: -2%;
    left: -1%;
    width: 100%;
    height: 100%;
    border: 1px solid $brand-color;
    content: '';
  }
}