// -----------------------------------------------------------------------------
@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
// -----------------------------------------------------------------------------

.cardOveride.partnershipFormCard {
  margin-top: 20px;
  background-size: cover;
  font-size: 1rem;
  width: fit-content;
  background-color: transparent ;
  box-shadow: none  ;
  border: none;
}
.partnership-form-container {
  background-color: transparent;
}

.form-container {
  background-color: #323232;
  border: inherit;
}

.form-card {
  margin-top: 20px;
  background-size: cover;
  box-shadow: 3px 3px 3px #323232;
  border: #323232;
  border-radius: 2%;
  font-size: 1rem;
  width: fit-content;
  @include screen-sm {
    display: none;
  }
  @include screen-xs {
    display: none;
  }
}

.card-header {
  background-color: white;
  white-space: nowrap;
}

.form-text {
  font-size: 0.9rem;
  @include screen-md {
    font-size: 0.6rem;
  }
}

