// -----------------------------------------------------------------------------
@import "../../../styles/variables";
@import "../../../styles/mixins";
// -----------------------------------------------------------------------------

.Container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
