// -----------------------------------------------------------------------------
@import "../../../styles/variables.scss";
@import "../../../styles/mixins";
// -----------------------------------------------------------------------------

.button {
  @include button-style; // Apply centralized button styles

  // Responsive adjustments
  @media only screen and (max-width: $screen-xs) {
    font-size: 0.6rem; // Use the mobile font size variable here
    padding: 0.3rem 1rem;
  }

  // Additional Variant Styles
  &.secondary {
    @include button-style(
      $bg-color: $brand-color2,
      $text-color: $white-color,
      $hover-bg: $white-color,
      $hover-text: $brand-color2
    );
  }

  &.white--dark-text {
    @include button-style(
      $bg-color: $white-color,
      $text-color: $brand-color2,
      $hover-bg: $white-color,
      $hover-text: $brand-color
    );
  }

  &.white--red-text {
    @include button-style(
      $bg-color: $white-color,
      $text-color: $brand-red-bright,
      $hover-bg: $white-color,
      $hover-text: $brand-color2
    );
  }

  &.btn--small {
    font-size: 1rem;
    padding: 0.4rem 1.4rem;
  }

  &.small--text {
    font-size: 0.7rem;
    letter-spacing: 3px;
  }
}

.week-of-code {
  @include button-style(
    $bg-color: #ed3742,
    $text-color: $white-color,
    $hover-bg: #ed3742,
    $hover-text: $white-color
  );
}
