// -----------------------------------------------------------------------------
@import "../../../styles/variables.scss";
@import "../../../styles/mixins";
// -----------------------------------------------------------------------------

.button {
  font-family: $heading-font;
  font-weight: 600;
  letter-spacing: 3px;
  background-color: $brand-color;
  padding: 0.5rem 1rem;
  color: $white-color;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  border: 2px solid $brand-color;
  border-radius: 4px;
  position: relative;
  @media only screen and (max-width: $screen-xs) {
    font-size: 0.6rem /* use the mobile font size variable here */;
    padding: 0.3rem 1rem;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
  &:hover {
    color: $brand-color2;
  }
  .hover--black {
    &:hover {
      color: $brand-color2;
    }
  }
  &.secondary {
    background-color: $brand-color2;
    border-color: $brand-color2;
    &:hover {
      color: $brand-grey-dark;
    }
  }
  &.white--dark-text {
    background-color: white;
    border-color: white;
    color: $brand-color2;
    &:hover {
      color: $brand-color;
    }
  }
  &.white--red-text {
    background-color: white;
    border-color: white;
    color: $brand-red-bright;
    &:hover {
      color: $brand-color2;
    }
  }
  &.btn--small {
    font-size: 1rem;
    padding: 0.4rem 1.4rem;
  }

  &.small--text {
    font-size: 0.7rem;
    letter-spacing: 3px;
  }
}

.week-of-code {
  background-color: #ed3742;
  border-color: #ed3742;
}
