// -----------------------------------------------------------------------------
@import "../../styles/variables.scss";
@import "../../styles/mixins"; 
// -----------------------------------------------------------------------------

.Btn-Brand {
  font-family: $heading-font;
  font-weight: 600;
  letter-spacing: 3px;
  background: $brand-color;
  padding: 0.8rem 2.4rem;
  color: $white-color;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  @include font-size(12);
  border: 2px solid $brand-color;
  border-radius: 4px;
  position: relative;
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
  &:hover {
    color: $brand-color2;
  }
}