// -----------------------------------------------------------------------------
@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss"; 
// -----------------------------------------------------------------------------

.shieldPanel {
    background-image: url(../../../../images/bootcamp/shield.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 220px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    .shieldText {
        display: flex;
        text-align: center;
        justify-self: center;
        align-self: center;
        @include screen-tablet-max {
            @include font-size(12);
        }
        // padding: 1.5rem 2.75rem 2.5rem 2.75rem;
    }
}