#images {
  margin-bottom: 50px;

  .first-row-images {
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .mentors-img {
    height: 80px;
    width: 120px;
  }

  .investors-img {
    height: 80px;
    width: 80px;
  }

  .workspace-img {
    height: 80px;
    width: 110px;
  }

  .access-img {
    height: 80px;
    width: 90px;
  }

  .pro-bono-img {
    height: 80px;
    width: 80px;
  }

  .services-img {
    height: 80px;
    width: 100px;
  }

  h2 {
    font-size: 20px;
    font-weight: 900;
  }
}
