/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic); */

@use '../../styles/variables.scss' as styles;

* {
    font-family: styles.$heading-font;
    box-sizing: border-box;
}

.containter {
    padding-left: 15px;
    padding-right: 15px;
}

.heading-text {
    font-size: 2.9rem;
    line-height: 5.85rem;
    font-weight: 900;
    color: #323333;
    text-transform: uppercase;
    margin: 3%;
    text-align: center;
}

.flex-container {
    flex-wrap: wrap;
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    // margin-bottom: 3%;
}

.flex-item {
    flex: 49%;
}

.page-number {
    // padding-top: 300px;
    margin: 0 .5rem 0 .5rem;
    font-weight: 900;
    color: styles.$brand-color;
}

.page-number:hover {
    // text-shadow: 2px 2px 0 rgb(0, 0, 0);
    // transform: scale(2.5);
    // transition-duration: 400ms;
    color: styles.$brand-red-bright;
}