@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.workspace-button {
  position: relative;
  @include screen-xs {
    display: flex;
    justify-content: center;
  }
  @include screen-md {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 1024px) {
    top: -6rem;
    left: 89%;
  }
}
.workspace-section {
  background-color: #d1d1d1;
  border-color: black;
  @media (min-width: 1024px) {
    background-image: url("../images/workspace-border.png");
    background-repeat: no-repeat;
    background-position: center 80%;
    background-size: 85% 85%;
  }
}

#events .row {
  justify-content: start; /* Align items to the left */
}

#events .col {
  display: flex;
  justify-content: center;
  padding: 12px; /* Match your gutter size */
}

#events .feature-card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  #events .feature-card {
    max-width: 600px; /* Adjust this value based on your design needs */
  }
}
