.table {
    width: 100%;
    border: 2px solid #000000; 
    border-radius: 0px;
    border-collapse: separate;
  }
  
.table th,
.table td {
  border-bottom: 1px solid #ddd; 
  padding: 12px; 
  text-align: left;
}

.table th {
  background-color: #d60101; 
  font-weight: bold;
}

.table tr:last-child td {
  border-bottom: none; 
}

