.table {
    width: 100%;
    border: 2px solid #000000; 
    border-radius: 0px;
    border-collapse: separate;
  }
  
.table th,
.table td {
  border-bottom: 1px solid #ddd; /* Add a bottom border to each cell */
  padding: 12px; /* Add padding for better spacing */
  text-align: left; /* Align text to the left */
}

.table th {
  background-color: #d60101; /* Add a background color to headers */
  font-weight: bold; /* Make header text bold */
}

.table tr:last-child td {
  border-bottom: none; /* Remove the bottom border from the last row */
}