@use "../../styles/variables.scss" as styles;
@import "../../styles/mixins.scss";

* {
  font-family: styles.$heading-font;
  // box-sizing: border-box;
}

.box {
  width: 100%;
  padding: 3%;
  height: 100%;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border-color: rgba(119, 119, 119, 0.353);
  border-width: 1px;
  border-style: solid;
}

.inside-box {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}

.box:hover {
  border-radius: 6px;
  border-color: rgb(255, 0, 0);
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
}

.image {
  float: left;
  object-fit: fill;
  object-position: 50% 50%;
  width: 25%;
  height: 105%;
}

.box:hover .image {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
  transition-duration: 400ms;
  transform: scale(1.02);
}

.title {
  text-align: left;
  font-weight: 700;
  margin-left: 26%;
  /* padding-left: 14%; */
  color: styles.$brand-color;
  @include screen-xs {
    font-size: 1.7vh;
  }
}

.subtitle {
  margin-left: 26%;
  color: rgba(83, 83, 83, 0.807);
  @include screen-xs {
    font-size: 1.5vh;
  }
}

.summary {
  margin-left: 26%;
  color: rgba(138, 138, 138, 0.737);
  @include screen-xs {
    display: none;
  }
}
