@import '../../styles/variables.scss';

.card-background-filter {
  background-position: 25% top;
  background-size: cover;
  border-radius: 5%;
  box-shadow: inset 0 0 0 2px #323232;
  vertical-align: middle;
  transition: all 0.25s ease-out;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    border-radius: 5%;
    background-color: rgba(193,32,41,0.8);
  }
}