@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ed3742;
  min-height: 300px;
  margin-bottom: 5rem;
  position: relative;
}

.subHeading {
  background-color: #fff;
  width: min-content;
  height: 1rem;
  padding: 0px 12px;
  position: absolute;
  top: -15px;
  line-height: 30px;
  @include font-size(12);
}

.content {
  font-size: 15px;
  padding: 2.5rem 2.7rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  background: #c12029;
  color: #fff;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  line-height: 30px;
  border: #c12029;
  border-radius: 4px;
}

.absolute {
  bottom: -25px;
  position: absolute;
}

.btn:hover,
.btnLongText:hover {
  background: #c12029;
  color: #323333;
  border: #c12029;
}

.btn:focus {
  background-color: #c12029;
}

@media (max-width: 1200px) {
  .border {
    min-height: 350px;
  }
  .subHeading {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .btn {
    font-size: 15px;
  }
  .border {
    max-height: fit-content;
  }
  .subHeading {
    top: -18px;
  }
}
