.border {
  flex: 1 1 25%;
  border: solid #ed3742 1px;
  position: relative;
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 5rem;
}

.subHeading {
  background-color: #fff;
  width: min-content;
  padding: 0px 12px;
  position: relative;
  white-space: nowrap;
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  line-height: 30px;
}

.content {
  font-size: 15px;
  padding: 2.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.btn {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  background: #c12029;
  color: #fff;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  line-height: 30px;
  border: #c12029;
  border-radius: 4px;
}

.absolute {
  bottom: -25px;
  position: absolute;
}

.btn:hover,
.btnLongText:hover {
  background: #c12029;
  color: #323333;
  border: #c12029;
}

.btn:focus {
  background-color: #c12029;
}

@media (max-width: 1200px) {
  .subHeading {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .btn {
    font-size: 15px;
  }
  .border {
    max-height: fit-content;
  }
}
