@import '../../styles/variables.scss';

.tb-div {
  position: relative;
  margin: 10% 5%;
}
.team-button {
  padding-left: 10px !important;
  padding-right: 10px !important;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  padding: 0.8rem 2.4rem;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 3px;
  background-color: $brand-color2;
  color: $white-color;
  overflow: hidden;
}