@import "../../styles/main.scss";

.img {
  margin: auto;
  display: block;
  max-width: 80%;
  height: auto;
}

.dimScreen {
  background: rgba(0, 0, 0, 0.5);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.sponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-title {
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  // display: flex;
  text-align: center;
  @include screen-lg {
    font-size: 2vw;
  }
  @include screen-xs {
    font-size: 5vw;
  }
  letter-spacing: 0.5px;
}

.sponsor-background {
  // width: 100vw;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: $brand-color;
  color: white;
}

li {
  font-size: 19px;
}