.verticalTitle {
    left: 0;
    margin-left: 15px;
    margin-top: 400px;
    color: #C12029 !important;
    // font-size: 4.5rem !important;
    font-size: 70px;
    letter-spacing: 4px;
    text-transform: none;
    
    transform: rotate(270deg);
    transform-origin: (0 0);
}