@import "../../../styles/mixins.scss";

.header {
  background-image: url(../../../images/learn/youth-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 100%;

  @include screen-sm {
    min-height: 650px;
  }
  @include screen-xs {
    min-height: 680px;
    background-position: center;
  }
  @include screen-md {
    background-position: center;
  }
}

.course-description {
  color: white;
  @include screen-md {
    margin-top: 20%;
  }
  @include screen-sm {
    line-height: 0.9rem;
    width: 65%;
  }
  @include screen-xs {
    color: white;
    line-height: 0.9rem;
    width: 65%;
    margin-bottom: 1px;
  }
}

.title-text {
  @include screen-sm {
    margin-top: 10vh;
  }
  @include screen-xs {
  }
}
.top-section-code {
  @include screen-sm {
    // background-color: $brand-red-bright;
    background-size: cover;
    min-width: 100%;
    position: relative;
    margin-left: -16px;
    padding-left: 18px;
    height: 250px;
  }
  @include screen-xs {
    // background-color: $brand-red-bright;
    background-size: cover;
    min-width: 100%;
    position: absolute;
    margin-left: -16px;
    padding-left: 18px;
    height: 240px;
  }
  @media (min-width: 769px) {
    margin-top: 5%;
  }
}

.club-membership {
  background-image: url(../../../images/learn/Youth_Membership_BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-width: 100%;
  padding-top: 60px;
  @include screen-sm {
    //background-position: bottom;
    background-size: 100%;
  }
  @include screen-xs {
    background-position: center;
  }
}

.card {
  width: 95%;
  text-align: center;
}

li {
  font-size: 16px;
}

.questions {
  background: url(../../../images/bootcamp/faq-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  min-height: 45vh;
}

.waitlist-iframe {
  @media (min-width: 768px) {
    width: 50%; /* Adjust the width for screens larger than md */
  }
}

.phone {
  width: 50%;
  @include screen-sm {
    display: none;
  }
  @include screen-xs {
    display: none;
  }
}
