// -----------------------------------------------------------------------------
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
// -----------------------------------------------------------------------------

.youth {
    background-image: url(../../../images/learn/youth-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position:center 20%;
    min-width:100%;
    height: 65vh;
    @include screen-lg {
        background-position: 40%;
    }
    @include screen-md {
        height: 75vh;

    }
    @include screen-sm {
        line-height: 1rem;
        // background-image:none;
    }
    @include screen-xs {
        height: 700px;
        background-size: cover;    
    }
}

.program-guide {
    position: absolute !important;
    right: 20%;
    bottom: -30% !important;
    > div {
        background-color: $brand-grey-dark;
        border: inherit;
    }

    @include screen-md {
        display: none;
    }
    
    // @include screen-sm {
    //     display: none;
    // }
    // @include screen-xs {
    //     display: none;
    // }
}

.top-section {
    @include screen-sm {
        // background-color: $brand-red-bright;
        background-size: cover;
        min-width: 100%;
        position: absolute;
        margin-left: -16px;
        padding-left: 18px;
        height: 250px;
    }
    @include screen-xs {
        // background-color: $brand-red-bright;
        background-size: cover;
        min-width: 100%;
        position: absolute;
        margin-left: -16px;
        padding-left: 18px;
        height: 240px;
    }
    @media (min-width: 769px){
        margin-top: 50%;
    }
}

.top-section-code {
    @include screen-sm {
        // background-color: $brand-red-bright;
        background-size: cover;
        min-width: 100%;
        position: relative;
        margin-left: -16px;
        padding-left: 18px;
        height: 250px;
    }
    @include screen-xs {
        // background-color: $brand-red-bright;
        background-size: cover;
        min-width: 100%;
        position: absolute;
        margin-left: -16px;
        padding-left: 18px;
        height: 240px;
    }
    @media (min-width: 769px){
        margin-top: 5%;
    }
}

.why-learn {
    text-transform: uppercase;
    margin-top: 20%;
    @include screen-sm {
        margin-top: 10%;
    }
}

.phone {
    width: 50%;
    @include screen-sm {
        display:none;
    }
    @include screen-xs {
        display: none;
    }
}
.title-text {
    
    @include screen-sm {
        margin-top: 10vh;
    }
    @include screen-xs {
        
    }
}

.course-description {

    color: white;
    @include screen-md {
        margin-top: 20%;
    }
    @include screen-sm {
        line-height: 1.2rem;
        margin-top: 260px;
        color: black;
    }
    @include screen-xs {
        color: white;
        line-height: .9rem;
        width: 65%;
        margin-bottom: 1px;
    }
}

.other-description {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
    @include screen-sm {
        font-size: .9rem;
        line-height: 1.2rem;
        color: black;
    }
    @include screen-xs {
        font-size: .5rem;
        line-height: .9rem;
        color: white;
        margin-top: 10px;
    }
}

.club-membership {
    background-image: url(../../../images/learn/Youth_Membership_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 100%;
    padding-top: 60px;
    @include screen-sm {
        background-position: bottom;
        background-size: 100%;
    }
    @include screen-xs {
        background-position: center;
    }
}

.club-camps {
    @include screen-sm {
        padding-bottom: 0;
    }
}

.questions {
    background: url(../../../images/bootcamp/faq-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 45vh;
}

.plans {
    background-color: white;
    
}

.engaged {
    background-image: url(../../../images/learn/youth-engaged-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-width: 100%;
    color: white;
    @include screen-lg{
        height: 35vh;
    }
    @include screen-md{
        height: 40vh;
    }
    @include screen-xs {
        height: 60vh;
    }
}

.engaged-title {
    color: white;
    @include screen-sm {
        color: $brand-color2;
    }
    @include screen-xs {
        color: $brand-color2;
    }
}

.fun {
    @media (min-width: 768px){
        margin-bottom: 120px;
    }
}
.logo{
    @include screen-xs{
        display: flex;
        justify-content: center;
    }
}
.creative {
    margin-bottom: 100px;
}

.scheduling {
    background-image: url(../../../images/learn/Youth_schedule_background.png);
    background-repeat: no-repeat;
    min-width: 100%;
}

.list-text {
    font-size: 1rem;
    line-height: 1.6rem;
    //padding-left: inherit;
    //text-indent: -1.4rem;

}

.membership-icons {
    max-height: 60%;
    max-width: 100%;
    margin: auto;
}

.membership-cards {
    margin:auto;
    width: 90%;
    @include screen-md {
        margin-left: 10px;
    }
}

.button-text {
    letter-spacing: .1px;
    font-size: .9rem;
    line-height: 1.2rem;
    width: 90%;
    align-content: center;
    margin: auto;
}


.other-button {
    // margin-top: 15%;
    display: none;
    align-items: end;
    margin: 15% auto 0% auto;
    @include screen-sm {
        display: block;
        width: 50%;
    }
    @include screen-xs {
        display: block;
        width: 75%;
        padding: 1px;
    }
}

.modal {
    background-color: $brand-color2 !important;
}

.waitlist-iframe{
    @media (min-width: 768px) {
          width: 50%; /* Adjust the width for screens larger than md */
    }
}