// -----------------------------------------------------------------------------
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
// -----------------------------------------------------------------------------

.youth {
    background-image: url(../../../images/learn/youth-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    min-width:100vw;
    height: 95%;
    @include screen-sm {
        font-size: .7rem;
        line-height: 1rem;
    }
}

.phone {
    width: 50%;
    @include screen-sm {
        display:none;
    }
    @include screen-xs {
        display: none;
    }
}
.title-text {
    margin-top: 30vh;
}

.club-membership {
    background-image: url(../../../images/learn/Youth_Membership_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: 100vw;
    padding-top: 60px;
    @include screen-sm {
        background-position: center;
    }
    @include screen-xs {
        background-position: center;
    }
}

.club-camps {
    @include screen-sm {
        padding-bottom: 0;
    }
}

.questions {
    background: url(../../../images/bootcamp/faq-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    min-width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 45vh;
}

.plans {
    background-color: white;
    
}

.engaged {
    background-image: url(../../../images/learn/youth-engaged-bg.png);
    background-repeat: no-repeat;
    position: center 15%;
    min-width: 100vw;
    background-size: 100%;
    margin-top: 30px;
    color: white;
    @include screen-sm {
        color: $brand-color2;
    }
    @include screen-xs {
        color: $brand-color2;
    }
}

.engaged-title {
    color: white;
    @include screen-sm {
        color: $brand-color2;
    }
    @include screen-xs {
        color: $brand-color2;
    }
}

.fun {
    margin-bottom: 120px;
}

.creative {
    margin-bottom: 100px;
}

.scheduling {
    background-image: url(../../../images/learn/Youth_schedule_background.png);
    background-repeat: no-repeat;
    min-width: 100vw;
}

.list-text {
    font-size: 1rem;
    line-height: 1.6rem;
    padding-left: inherit;
    text-indent: -1.4rem;

}

.membership-icons {
    min-height: 100px;
    min-width: 100px;
}

.button-text {
    letter-spacing: .1px;
    font-size: .9rem;
    line-height: 1.2rem;
    width: 90%;
    align-content: center;
}