@import "../../../styles/main.scss";

.heading-title {
  @include screen-xs {
    @include font-size(15);
  }
  @include screen-sm {
    @include font-size(20);
  }
}

.main-heading {
  background-image: url("../../../images/5across-hero.png");
  background-size: cover;
  background-position: center;
  height: 93vh;
  @include screen-md {
    height: 110vh;
  }
}

.upcoming-event-circle {
  background-image: url("../../../images/5across-big-red-circle.png");
  background-position: top;
  background-repeat: no-repeat;
  min-height: 650px;
  @include screen-sm {
    background-image: none;
    background-color: #ed3243;
    min-height: 250px;
  }
  @include screen-xs {
    background-image: none;
    background-color: #ed3243;
    margin: none !important;
    min-height: 450px;
  }
}

.upcoming-event-circle a:hover {
  color: $brand-grey-dark;
}

.recent-winner {
  display: flex;
  margin: auto;
  width: 90%;
  align-content: center;
  height: 250px;
  border-color: #ed3243;
  border-style: solid;
  border-width: 1px;
  @include screen-xs {
    height: auto;
  }
}

.recent-winner-text {
  font-size: 3vw;
}

.past-pitches {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../../../images/hero-image-1.jpg");
}

.bring-the-fun {
  color: #ed3243 !important;

  font-size: 11vw !important;
  @include screen-max {
    font-size: 9vw !important;
  }
}

.unicorn-image {
  margin-left: 20%;
}

.large-text {
  text-align: center !important;
  font-size: 2.5vw !important;
  @include screen-sm {
    font-size: 5vw !important;
  }
  @include screen-xs {
    font-size: 5vw !important;
  }
}

.raise-title {
  background-color: white;
  margin-top: -30px;
}

.sponser-section {
  margin-top: 10%;
  margin-bottom: 7%;
  align-content: center;
  border-color: #ed3243;
  border-style: solid;
  border-width: 1px;
}

.grey-button {
  background-color: $brand-color2 !important;
  color: $brand-color3 !important;
  border-color: $brand-color2 !important;
  white-space: nowrap !important;
}

.grey-button:hover {
  color: $brand-grey-dark !important;
}

.custom-col {
  position: "relative";
  @media (max-width: 767.98px) {
    display: flex;
  }
  @media (min-width: 768px) {
    display: "inline-block";
  }
}

@media (max-width: 992px) {
  .noHorizontalSpacing {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 992px) {
  .noHorizontalSpacing {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

.custom-container {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.flex-item {
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 15px;

  @media (min-width: 768px) {
    flex: 1 1 50%;
  }

  @media (min-width: 992px) {
    flex: 1 1 33.333%;
  }
}