GATSBY_SANITY_PROJECT_ID=process.env.SANITY_STUDIO_API_PROJECT_ID
GATSBY_SANITY_DATASET="production"

# Copy this file to .env.development for local development.
# Note: After copying DO NOT commit this file to git!
SANITY_READ_TOKEN=""
